.Title {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-tabs {
  font-size: 16px;
}

.routes {
  float: left;
}

.center {
  display: flex;
  justify-content: center;
}

.items_style {
  padding-top: 1em;
  display: flex;
}

.card {
  border-top: 0px !important;
}

.tag {
  background-color: rgb(216, 226, 226);
  border-radius: 30px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.close-tag {
  background-color: rgba(143, 143, 143, 0.959);
  border-radius: 50px;
  float: right;
  color: white;
  margin-right: -3px;
  padding: 3px 8px;
  font-size: 11px;
  cursor: pointer;
}

.tag-label {
  margin-right: 5px;
}

.form-label {
  margin-bottom: .5rem;
  min-width: 138px;
  text-align: right;
  margin: 10px;
}

.form-group {
  display: flex;
  gap: 10px;
}

.form-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px;
}


.fade.in {
  opacity: 1 !important;
  pointer-events: unset;
}


//clickable buttons
.iconClickContainer{
  background-color:  #e7e7e7; /* gray */
  border: 10px 10px;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: inset -1px -1px 3px;
}

.iconClickContainer:active {
	background-color: #e7e7e7;
	transform: translateY(4px);
  }

//pressable button
 .iconSelectableContainer{
	background-color:  #e7e7e7; /* gray */
	border: none;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 12px; 
	box-shadow: inset -1px -1px 3px 0px;
 }
